body { 
	background-color: #000000;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: Acumin Pro Condensed, sans-serif;
	color: #e5aac0;
}

h1 {
	font-size: 48px;

}

h2 {
	font-size: 25px;
	font-weight: medium;
	text-align:center;
	padding-top: 35px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 15px;
	color: black;
	text-align:center;
	padding-top: 20px;
}
p {
	color: #d9a447;
	font-size: 18px;
	font-weight: medium-italic;
	text-align:center;
	padding-top: 10px;
}

.instagram {
	color: #e5aac0;
}

header {margin-bottom: 20px;
	color: #e5aac0;
}

/* ensures that your images stretch the width of their containers */
img { width: 100%;
}

a { 
	color: #e5aac0;
	text-decoration: none;
}
a:hover { color: #d9a447; }
a:active { color: white;}

nav li {
	display: inline-block;
	margin-top: 5px;
	color: #143a4c;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5px;
}

footer {
	background-color: #e5aac0;
	width: 100%;
	height: 50px;
}

iframe {
	border-color: #d9a447;
	border-style: solid;
	border-width: 4px;
	margin-left: 52px;
	margin-right: 52px;
	margin-top: 20px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

.logo {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-top: 10px;
}


body {font-family: Acumin Pro Condensed, sans-serif;
	color:#d9a447;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: #e5aac0;
}

input[type=number], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: #e5aac0;
}

input[type=submit] {
	background-color: #d9a447;
	color: white;
	padding: 12px 20px;
	border: 2px;
	border-color: #d9a447;
	border-radius: 0px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #e5aac0;
	border-color: #d9a447;
}

.container {
	border-radius: 0px;
	background-color: black;
	padding: 15px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.gallery {
	margin: 5px 25px;
}

.gallery img {
	transition: 1s;
	padding: 15px;
	width: 200px;
}

.gallery img:hover {
	transform: scale(1.1);
	border-color: #d9a447;
	border-style: solid;
	border-width: 2px;
}

.location-gallery {
	margin: 10px 50px;
}

.location-gallery img {
	transition: 1s;
	padding: 15px;
	width: 148px;
}

.location-gallery img:hover {
	transform: scale(1.1);
	border-color: #e5aac0;
	border-style: solid;
	border-width: 3px;
}

.slider {
	width: 90%;
	margin: auto;
	background-color: black;
}

.donut-slide img {width: 100%;}
.donut-slide { margin: 0 20px;}

@media only screen and (min-width: 768px){
	body {
		background-color: black; 
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1024px){
	body {
		background-color: black; 
	}

	body {font-family: Acumin Pro Condensed, sans-serif;
		color:#d9a447;
	}
	* {box-sizing: border-box;}

	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 0px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background-color: #e5aac0;
	}

	input[type=number], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 0px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background-color: #e5aac0;
	}

	input[type=submit] {
		background-color: #d9a447;
		color: white;
		padding: 12px 20px;
		border: 2px;
		border-color: #d9a447;
		border-radius: 0px;
		cursor: pointer;
	}

	input[type=submit]:hover {
		background-color: #e5aac0;
		border-color: #d9a447;
	}

	.container {
		border-radius: 0px;
		background-color: black;
		padding: 20px;
		margin-right: 300px;
		margin-left: 300px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 1200px){
	body {
		background-color: black; 
	}
	body {font-family: Acumin Pro Condensed, sans-serif;
		color:#d9a447;
	}
	* {box-sizing: border-box;}

	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 0px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background-color: #e5aac0;
	}

	input[type=number], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 0px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background-color: #e5aac0;
	}

	input[type=submit] {
		background-color: #d9a447;
		color: white;
		padding: 12px 20px;
		border: 2px;
		border-color: #d9a447;
		border-radius: 0px;
		cursor: pointer;
	}

	input[type=submit]:hover {
		background-color: #e5aac0;
		border-color: #d9a447;
	}

	.container {
		border-radius: 0px;
		background-color: black;
		padding: 20px;
		margin-right: 300px;
		margin-left: 300px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}


/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
