body { 
	background-color: #000000;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: Acumin Pro Condensed, sans-serif;
	color: #e5aac0;
}

h1 {
	font-size: 48px;

}

h2 {
	font-size: 25px;
	text-align:center;
	padding-top: 35px;
}

h3 {
	font-size: 18px;
	color: white;
	padding-top: 10px;
	padding-bottom: 3px;
}

h4 {
	font-size: 17px;
	color: #e5aac0;
	text-align: center;
	padding-top: 15px;
}

h5 {
	font-size: 10px;
	color: black;
	text-align: center;
	padding-top: 5px;
	padding-left: 18px;
	padding-right: 18px;
}

h6 {
	font-size: 15px;
	color: black;
	text-align:center;
	padding-top: 20px;
}

p {
	color: #d9a447;
	font-size: 15px;
	text-align:center;
	padding-top: 10px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 10px;
}

.instagram {
	color: #e5aac0;
}

html{
  scroll-behavior: smooth;
}

.gotopbtn{
  position: fixed;
  width: 25px;
  height: 25px;
  background: #d9a447;
  bottom: 60px;
  right: 15px;
  padding-top: 4px;

  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: black;
  font-size: 15px;
}

.doughnut-category{
	background-color: #e5aac0;
	width: 90%;
	height: 30px;
	margin: 0 auto;
	padding-left: 8px;
}

.donut-info{
	background-color: white;
	width: 100%;
	height: 80px;
	margin: 0 auto;
}

.donut-pic{
	width: 100%;
	height: 100%;
}

.vegan {
	color: #d9a447;
}

.allergy{
	background-color: #d9a447;
	width: 40%;
	height: 30px;
	margin: 0 auto;
}

.allergy-text{
	margin-left: 35px;
	text-align: center;
}

.slider {
	width: 85%;
	margin: 0 auto;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.donut-slide img {width: 100%;}
.donut-slide { margin: 0 0;}

.slick-slide { margin: 8px; }

header {margin-bottom: 20px;
	color: #e5aac0;
}

/* ensures that your images stretch the width of their containers */
img { width: 100%;
}

a { 
	color: #e5aac0;
	text-decoration: none;
}
a:hover { color: white; }
a:active { color: white;}

.current-link {
   color: #d9a447;
   background-color: #000000;
}

ul {display: inline-inline-block;
	position: relative;
	text-align: center;
	width: 100%;
} 


li {
	display: inline;
	font-family: Acumin Pro Condensed, sans-serif; 
	margin: auto;
	color: #143a4c;
	font-size: 15px;
	text-align: center;
	padding: 15px;
}

footer {
	background-color: #e5aac0;
	width: 100%;
	height: 50px;
	margin-top: 30px;
}

iframe {
	border-color: #d9a447;
	border-style: solid;
	border-width: 4px;
}

.iframe {
	text-align: center;
}

.iframe-container {
	position: relative;
	width: 320px;
	height: 186px;
	margin: auto;
	margin-top: 20px;
}

.iframe-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

.logo {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-top: 10px;
}


body {font-family: Acumin Pro Condensed, sans-serif;
	color:#d9a447;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: #e5aac0;
}

input[type=number], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: #e5aac0;
}

input[type=submit] {
	background-color: #d9a447;
	color: white;
	padding: 12px 20px;
	border: 2px;
	border-color: #d9a447;
	border-radius: 0px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #e5aac0;
	border-color: #d9a447;
}

.contact-container {
	border-radius: 0px;
	background-color: black;
	padding: 15px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 50px;
}

.gallery {
	margin: 25px 25px;
}

.gallery img {
	transition: 1s;
	padding: 5px;
	width: 190px;
	margin-left: 22px;
}

.gallery img:hover {
	transform: scale(1.1);
	border-color: #d9a447;
	border-style: solid;
	border-width: 2px;
}

.location-gallery {
	margin: 68px;
	margin-top: 20px;
}

.location-gallery img {
	transition: 1s;
	padding: 5px;
	width: 180px;
}

.location-gallery img:hover {
	transform: scale(1.1);
	border-color: #e5aac0;
	border-style: solid;
	border-width: 3px;
}

.gallery-section {
	margin-bottom: -60px;
	text-align: center;
}

.voodoo-dude {
	animation: rotation 4s infinite linear;
	width: 40%;
	height: 15%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.coming-soon {
	color: #d9a447;
	padding-top: 40px;
}

.voodoo-align {
	text-align: center;
	margin-top: 40px;
}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){

.logo {
	width: 250px;
	height: 250px;
}

li {
	font-size: 20px;
	padding: 30px;
}

h2 {
	font-size: 30px;
	padding-top: 40px;
}

h3 {
	font-size: 20px;
	padding-top: 17px;
	padding-bottom: 3px;
	padding-left: 5px;
}

.location-gallery {
	width: 90%;
}

.location-gallery img {
	width: 300px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.location-gallery img:hover {
	border-width: 6px;
}

.contact-container {
	margin-right: 400px;
	margin-left: 400px;
}

iframe {
	border-width: 6px;
}

.iframe-container {
	width: 560px;
	height: 315px;
	margin: auto;
	margin-top: 25px;
}

.gallery {
	margin: 60px 60px;
	margin-top: -10px;
}

.gallery img {
	width: 215px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.gallery img:hover {
	border-width: 4px;
}

.doughnut-category{
	width: 45%;
	height: 50px;
}

.slider {
	width: 45%;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 13px;
}

p {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 435px;
	margin-left: 435px;
}

.voodoo-dude {
	width: 19%;
	height: 15%;
}

.coming-soon {
	padding-top: 50px;
	padding-bottom: 10px;
}

.voodoo-align {
	margin-top: 80px;
}

html{
  scroll-behavior: smooth;
}

.gotopbtn{
  position: fixed;
  width: 30px;
  height: 30px;
  background: #d9a447;
  bottom: 60px;
  right: 50px;
  padding-top: 4px;

  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: black;
  font-size: 22px;
}


}

@media only screen and (min-width: 1200px){

	
}


/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
